# Rename this file to .secret.env and fill the fields below

# From 2Captcha. Ex: CP_API_KEY=da8a303b0c3c7601148621204614399f
CP_API_KEY=

# NIT/PIS/PASEP requested in the SAL website. Ex: NIT=012.3456.789-0
NIT=

# Works for: 'AUTONOMO' (Contribuinte Individual), 'FACULTATIVO', 'SEGURADO_ESPECIAL'. Ex: INSS_CATEGORY=FACULTATIVO
INSS_CATEGORY=

# Ex: 1007, 1406, 1503. Ex: INSS_PAYMENT_CODE=1406
INSS_PAYMENT_CODE=

# From SendGrid email API. Ex: SENDGRID_API_KEY=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
SENDGRID_API_KEY=

# Ex: SENDER_EMAIL=example@mail.com 
SENDER_EMAIL=

# Ex: RECIPIENT_EMAIL=example@mail.com 
RECIPIENT_EMAIL=

# Ex: API_GATEWAY_URL=https://d1f1g9ad4g.execute-api.us-east-1.amazonaws.com/default/inss-gps-bot
API_GATEWAY_URL=
